// @import 'base-ss-website'; // Use only when developing in isolation
@import 'tailwind-pre-build';
@import 'tailwind';
@import 'dev';

#app--pricing-admissions {
  /*****************************
    Global settings 
  ******************************/
  --ss-pricing-primary: #00a4e3;
  --ss-pricing-primary-dark: hsl(200, 56%, 35%);
  --ss-pricing-: hsl(200, 56%, 35%);
  --ss-pricing-dark: #758289;
  --ss-pricing-light: hsl(200, 10%, 81%);
  --ss-pricing-primary-light: #f4fbff;
  --ss-pricing-mid: hsl(200, 10%, 66%);
  --ss-pricing-bar: hsl(10, 86%, 70%);
  --ss-pricing-sm: 1rem;
  --ss-pricing-xs: 0.8rem;
  --ss-pricing-font: var(var(--7s-fonts-primary), Avenir);
  --ss-pricing-mint-light: #84d3ce;
  --ss-pricing-mint-lightest: #f4fafa;
  --ss-pricing-mint: #5cccc5;
  --ss-pricing-mint-dark: #278881;

  /*****************************
    Utility styles
  ******************************/
  // Typography
  .ss2-h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  .ss2-body {
    font-size: 20px;
  }

  .ss2-2xs {
    font-size: 0.8rem;
  }

  .ss2-xs {
    font-size: 0.9rem;
  }

  .ss2-sm {
    font-size: 16px;
  }

  .ss2-md {
    font-size: 20px;
  }

  .ss2-lg {
    font-size: 1.5rem;
  }

  .ss2-xl {
    font-size: 2rem;
  }

  // Blocks
  .ss2-rounded {
    border-radius: 0.5rem;
  }

  .ss2-border {
    border: 1px solid #ccc;
  }

  // Colors
  .ss2-gray {
    color: #888;
  }

  .ss2-mint {
    color: var(--ss-pricing-mint);
  }

  .ss2--color-alt,
  .--color-mint {
    color: var(--ss-pricing-mint);
  }

  .--color-mint-light {
    color: var(--ss-pricing-mint-light);
  }

  /* Components */

  // Box
  .ss2-box {
    @extend .ss2-rounded;
  }

  .ss2-box--inset {
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
  }

  .ss2-box--pad {
    padding: 2rem;
  }

  // Button
  .ss2-btn--xs {
    font-size: 0.8rem;
  }

  .ss2-btn--sm {
    font-size: 1rem;
  }

  .ss2-btn--md {
    font-size: 1.2rem;
  }

  .ss2-btn--xl {
    font-size: 1.7rem;
  }

  .ss2-btn {
    color: white;
    background: var(--ss-pricing-primary);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
  }

  .ss2-btn--rounded {
    border-radius: 9999px;
  }

  .ss2-btn--outline {
    background-color: white;
    color: var(--ss-pricing-primary);
    // Use box-shadow instead of border because border affects size
    // and can cause buttons to be different heights
    box-shadow: inset 0 0 0 2px var(--ss-pricing-primary);
  }

  // Button group
  $ss2-input-height: 2.75rem;

  // Utility
  .ss2-viewport-width {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  /*****************************
    Resets and base styles
  ******************************/
  .ss-pricing-tutoring-root {
    font-family: var(--ss-pricing-font);
    padding: 0 2rem;
    max-width: calc(1100px + 4rem);
    margin: 0 auto;
    box-sizing: border-box;

    @media (max-width: 599px) {
      padding: 0 1rem;
    }
  }

  * {
    box-sizing: border-box;
  }

  a {
    color: var(--ss-pricing-primary);
    text-decoration: none;
  }

  input,
  select,
  option,
  button {
    font-family: var(--ss-pricing-font);
    margin: 0;
  }

  /*****************************
    Design
  ******************************/
  @media (max-width: 768px) {
    .ss-pricing__header {
      flex-direction: column;
      gap: 0;
    }
  }

  .ss-prices {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
    grid-gap: 1rem;
  }

  // Breakpoint where last item appears on own row
  @media (max-width: 1024px) and (min-width: 768px) {
    .ss-prices > :last-child {
      grid-column-start: 2;
    }
  }

  .ss-price {
    @extend .ss2-rounded;
    box-sizing: border-box;
    text-align: center;
    padding: 1.5rem 1rem 0.75rem;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    & > :last-child {
      margin-top: auto;
    }
  }

  .ss-price-custom {
    border-color: transparent;
    padding-top: 0;
  }

  .ss-price-custom__intro {
    height: 1.5rem; // Set equal to top padding of .ss-price
  }

  .ss-price__title {
    font-size: 2.3rem;
    font-weight: bold;
  }

  .ss-price__price {
    font-size: 2.5rem;
    padding: 1rem 0;

    &.ss-price__price--custom {
      padding-bottom: 0.25rem;
    }
  }

  .ss-price__price-detail--strike {
    color: #ccc;
    text-decoration: line-through;
  }

  .ss-price__button {
    @extend .ss2-btn;
    @extend .ss2-btn--xl;
    padding: 0.9rem 3.8rem;
    display: block;
    width: 400px;

    @media (max-width: 768px) {
      margin: 1rem auto;
    }
  }

  // Custom hours input
  .ss2-custhours {
    display: flex;
    border: 1px solid #ccc;
    border-color: var(--ss-pricing-primary);
    border-color: #aaa;
    border-width: 2px;
    border-radius: 999px;
    margin: 0 auto;
    align-items: center;
  }

  /*****************************
  ******************************/

  .ss-package-divider {
    @extend .text-gray-600;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid grey;
    line-height: 0.1em;
    margin: 10px 0 30px;

    span {
      background: #fff;
      padding: 0 10px 0 0;
    }
    @media (max-width: 768px) {
      margin: 30px 0 30px;
      text-align: center;
      span {
        padding: 0 10px;
      }
    }
  }

  .ss-custom-item {
    display: flex;
    margin: 0.3em 0 0.3em 0;

    .ss-custom-item-title {
      @extend .font-bold;
      margin: 0.4em 0;
    }

    .ss-custom-item-details {
      font-size: 0.8em;
    }

    .ss-custom-item-price {
      @extend .text-gray-600;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-width: 110px;
    }

    .ss-custom-item-add-button {
      @extend .ss2-btn;
      @extend .ss2-btn--rounded;
      @extend .ss2-btn--outline;
      @extend .ss2-btn--xs;
      @extend .font-bold;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      cursor: pointer;

      // &:hover {
      //   font-weight: bold;
      // }
    }

    .ss-custom-item-add-button-multi {
      @extend .ss2-btn;
      @extend .ss2-btn--rounded;
      @extend .ss2-btn--outline;
      @extend .ss2-btn--xs;
      padding-top: 0;
      padding-bottom: 0;
    }

    .ss-custom-item-add-button-added {
      &::before {
        content: '\2713';
      }
    }

    .ss-custom-item-sold-out {
      color: var(--ss-pricing-mid);
      box-shadow: inset 0 0 0 2px var(--ss-pricing-mid);
    }

    .ss-custom-item-modal-link {
      font-size: 0.8em;
      color: var(--ss-pricing-primary);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .ss-custom-total-display {
    @extend .ss2-rounded;
    @extend .ss2-border;
    background-color: var(--ss-pricing-primary-light);
    margin: 1.5em 0;
  }

  // Custom hours input
  .ss2-custhours {
    display: flex;
    border: 1px solid #ccc;
    border-color: var(--ss-pricing-primary);
    border-width: 2px;
    border-radius: 999px;
    margin: 0 auto;
    align-items: center;
  }

  .ss2-custhours__btn {
    border: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    width: 0.1rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-weight: bold;
    color: #aaa;
    &:hover,
    &:active {
      color: black;
    }
    font-size: 1.3em;
  }

  .ss-custhours__label {
    margin: 0 1em;
  }

  .ss-custom-component-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4em 0.8em;
  }

  .ss-custom-category-description {
    @extend .text-gray-600;
  }

  .ss-price-disabled {
    border: solid var(--ss-pricing-light);
    background: white;
    color: var(--ss-pricing-light);
    font-weight: bold;
  }

  .ss-custom-selected {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 2em;
  }

  .ss-custom-selected-item {
    @extend .font-bold;
  }

  .ss-modal-buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
